#signup{
    border-radius: 5px;
    background-color:rgb(89, 175, 80);
    width:30%;
    padding: 10px;
    padding-bottom: 40px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 32%;
    margin-top: 10%;
    text-align: center;
}
body{
    /* background: rgba(0,0,0,0.7)url('back.jpg'); */
    background-repeat: no-repeat;
  background-size: 100% 100%;
background-position: center;
height:490px;
position:relative;
background-blend-mode: darken;}
.p{
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
input{
    padding: 5px;
    border:none;
    border-radius: 5px;
}
#submit_signup{
    border-radius: 5px;
    width:18%;
    
    border:none;
    background-color: rgb(30, 113, 52);
    font-size: 15px;
    padding: 12px;
    margin:10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
    border-radius: 5px;
    width:18%;
    text-decoration: none;
    color: black;
    border:none;
    background-color: rgb(30, 113, 52);
    font-size: 17px;
    padding: 12px;
    margin:10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float:left;
}
.email_i{
    margin-left:20px;
}
.back{
    background-color: white;
    margin-top: 10px;

}